<!doctype html>
<html lang="en" ng-app>

<head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
</head>

<body>
    {{ _("Имя") }}
    <br>
    {{ _("Фамилия") }}
    <br>
    {{ _("Должность")}}
</body>

</html>
